@model PGSBoard.ViewModels.BoardsViewModel

<!DOCTYPE html>
<html>

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <div class="row page-header">
            <h1 class="col-md-6">Definitely not Trello</h1>
        </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Stwórz nową",
                        "CreateBoard", "Board", null,
                        new { @class = "btn btn-success" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <h3 class="col-md-12">Wybierz istniejącą  tablicę:</h3>
                    </div>
                    @using (Html.BeginForm("Show", "Board", FormMethod.Get)) // For possiblity tp redirect user to board he chosen
                                                                            // I've created form,which on submit sends GET request with id of chosen board
                    {
                        <div class="row">
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.SelectedBoardId, Model.BoardsItems,
                                new { @class = "form-control" })
                            </div>
                            <div class="col-md-5">
                                <input type="submit" class="btn btn-default" value="Przejdź" />
                            </div>
                        </div>
                    }
                </div>
            </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>